* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

body {
	background-image: url('background.jpg');
    width: 100%;
	height: 100vh;
}

h1 {
	text-align: center;
	margin-bottom: 15px;
    margin-top: 15px;
    font-size: clamp(22px, 2.3vw, 30px);
    color: rgb(101, 11, 11);
    font-style: oblique;
}

h2 {
	margin-bottom: 15px;
    font-size: clamp(18px, 2.3vw, 24px);
    font-style: oblique;
}

h3 {
    margin-bottom: 10px;
}
.container {
    width: clamp(500px, 60%, 700px);
	max-width: 700px;
    height: clamp(600px, 70vh, 900px);
	margin: auto;
	border: 3px solid rgb(17, 15, 15);
	border-radius: 30px;
	display: flex;
	background-color: rgba(255, 255, 255, 0.3);
    padding: clamp(10px, 2vw, 20px);
}

.items {
	width: 60%;
	padding: 20px;
}

.cart {
	width: clamp(200px, 40%, 300px);
	padding: clamp(10px, 2vw, 20px);
	border-left: 2px solid rgb(18, 16, 16);
	background-image: url('cart.png');
	background-size: clamp(100px, 60%, 160px);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.single-item {
	display: flex;
	border-bottom: 1px solid rgb(76, 75, 75);
	padding: clamp(10px, 2vw, 20px);
}

.single-item:last-child {
	border-bottom: 0;
}

img {
    width: clamp(100px, 20vw, 150px);
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

 .si-content {
	width: clamp(500px, 60%, 700px);
	padding-left: clamp(10px, 10%, 20px);
	padding-top: clamp(10px, 10%, 20px);
    font-size: clamp(16px, 2.3vw, 20px);
}

.single-item .si-content p {
	font-size: clamp(16px, 2.3vw, 20px);
}

.single-item .actions {
	width: 30%;
}

.single-item .actions input {
  width: clamp(30px, 17vw, 70px); 
  height: clamp(20px, 5vh, 50px); 
  padding: clamp(6px, 1vw, 10px); 
  text-align: center; 
  margin: clamp(5px, 1vw, 10px); 
  border-radius: 5px;
  border: 1px solid #454444; 
  transition: all 0.2s ease;
}

.single-item .actions button {
    width: clamp(30px, 17vw, 70px); 
    height: auto; 
    padding: clamp(6px, 1vw, 12px); 
    text-align: center; 
    margin: clamp(5px, 1vw, 10px); 
    border-radius: 7px;
    border: 1px solid #454444; 
    transition: all 0.2s ease;
    background-color: rgb(156, 103, 11);
    font-weight: bold;
    color: rgb(244, 232, 216);
}

button:hover {
    background-color: rgb(96, 64, 8);
}
.cart-single-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.cart-single-item h3 {
	margin-bottom: 0;
}

.cart-single-item button {
	padding: 5px;
}

.total {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 24px;
}

